/* Estilos opcionales para mejorar la apariencia */
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  p {
    font-size: 24px;
    margin-top: 20px;
  }